$color-primary: rgb(5, 209, 121);
$color-body-primary: rgb(255, 255, 255);
// $color-body-primary: rgb(213, 248, 233);
$color-text-heading: rgb(0, 0, 0);
$color-nav-icons: rgb(69, 129, 104);

$color-body-lighten: rgb(233, 247, 241);
$color-container-darken: rgb(190, 216, 205);
