$primary-font: "Inter", sans-serif;
$logo-font: "Handlee", cursive;
$heading-font: "Asap", sans-serif;
$roboto-font: "Roboto Slab", serif;
// $ramabhadra-font: "Ramabhadra", sans-serif;

$bold-font-weight: 900;

$heavy-font-weight: 900;
